<html (mousemove)="onMove()">
  <a [routerLink]="'/paginaInicial'" (click)="deslogar()">Deslogar</a>
  <a [routerLink]="'/paginaUsuario'">Voltar para a Página do usuário</a>
  <h1>Lista de reuniões</h1>
    
    <ul>
      <li *ngFor="let reuniao of reunioes">
        <a [routerLink]="'/mural'" (click)="addActiveMeeting(reuniao)">
          <span> {{ reuniao.title }} </span>
          <span> {{ reuniao.date }} </span>
          <span> {{ reuniao.description }}</span>
        </a>
      </li>
    </ul>
    
    <table>
      <tr>
        <td><label>Título da reunião</label></td>
        <td><input [(ngModel)]="reuniao.title"></td>
        <td><button (click)="addMeeting(reuniao)">Enviar</button></td>
        <td *ngIf="tituloReuniaoDuplicado">Não foi possível criar essa reunião</td>
      </tr>
      <tr>
        <td><label>Descrição da reunião</label></td>
        <td><input [(ngModel)]="reuniao.description"></td>
      </tr>
    </table>
</html>