<html>
  <div id="cabecalhoPagina" *ngIf="mostraPaginaInicial">
    <h1>Gerenciador de reuniões</h1>
    
    <nav>
      <a [routerLink]="'/cadastro'" (click)="apagarPaginaInicial()">Página de Cadastro</a>
      <br><br>
      <a [routerLink]="'/login'" (click)="apagarPaginaInicial()">Página de Login</a>
      <!-- <a [routerLink]="'/listaReunioes'" (click)="apagarPaginaInicial()">listaReunioes</a> -->
      <!-- <a [routerLink]="'/paginaInicial'" (click)="mostrarPaginaInicial()">Voltar para o menu</a> -->
    </nav>
  </div>
  <router-outlet></router-outlet>
</html>